<a href="https://colab.research.google.com/github/immsswd/data_science/blob/main/Data_Science_in_Retail_Product_Packaging_(MBA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext rpy2.ipython

Untuk memulai kode dengan **R** harus didahului dengan %%R, untuk menginisiasi bahwa kode akan menggunakan bahasa R

In [ ]:
%%R
# instal library association rules/arules
install.packages("arules")

In [ ]:
%%R
library(arules)

In [ ]:
%%R
transaksi_tabular <- read.transactions(file="https://storage.googleapis.com/dqlab-dataset/transaksi_dqlab_retail.tsv", format="single", sep="\t", cols=c(1,2), skip=1)
transaksi_tabular

In [21]:
%%R
write(transaksi_tabular, file="test_project_retail_1.txt", sep = ",")

**Objektif 1**: Statistik ***Top 10*** Product:

In [23]:
%%R
# menampilkan itemFrequency dari data
data_top <- itemFrequency(transaksi_tabular, type="absolute")

# sorting data per product dari besar ke kecil
data_top <- sort(data_top, decreasing=TRUE)

# Slicing hanya Top 10 saja
data_top <- data_top[1:10]

print(data_top)
#names(data_top)

             Shampo Biasa             Serum Vitamin         Baju Batik Wanita
                     2075                      1685                      1312
        Baju Kemeja Putih      Celana Jogger Casual               Cover Koper
                     1255                      1136                      1086
       Sepatu Sandal Anak Tali Pinggang Gesper Pria       Sepatu Sport merk Z
                     1062                      1003                       888
             Wedges Hitam
                      849
 [1] "Shampo Biasa"              "Serum Vitamin"
 [3] "Baju Batik Wanita"         "Baju Kemeja Putih"
 [5] "Celana Jogger Casual"      "Cover Koper"
 [7] "Sepatu Sandal Anak"        "Tali Pinggang Gesper Pria"
 [9] "Sepatu Sport merk Z"       "Wedges Hitam"

Mengubah format data menjadi frame menggunakan function 

```
data.frame()
```
Agar lebih mudah dibaca untuk mendapatkan insight dari data

In [24]:
%%R
# mengubah ke dataframe
data_top <- data.frame("Nama Produk"=names(data_top), "Jumlah"=data_top, row.names = NULL)
print(data_top)

                 Nama.Produk Jumlah
1               Shampo Biasa   2075
2              Serum Vitamin   1685
3          Baju Batik Wanita   1312
4          Baju Kemeja Putih   1255
5       Celana Jogger Casual   1136
6                Cover Koper   1086
7         Sepatu Sandal Anak   1062
8  Tali Pinggang Gesper Pria   1003
9        Sepatu Sport merk Z    888
10              Wedges Hitam    849

**Objektif 2**: Statistik ***Bottom10*** Produk (yaitu produk-produk yang paling kurang populuer dari bawah), Perbedaan dari ***Top 10*** adalah:


```
# sorting data per product dari besar ke kecil
data_top <- sort(data_top, decreasing=FALSE)
```
`decreasing` nya = `FALSE`

In [25]:
%%R
# menampilkan itemFrequency dari data
data_bottom <- itemFrequency(transaksi_tabular, type="absolute")

# sorting data per product dari besar ke kecil
data_bottom <- sort(data_bottom, decreasing=FALSE)

# Slicing hanya Top 10 saja
data_bottom <- data_bottom[1:10]

print(data_bottom)
#names(data_bottom)

   Celana Jeans Sobek Pria               Tas Kosmetik
                         9                         11
              Stripe Pants                   Pelembab
                        19                         24
    Tali Ban Ikat Pinggang Baju Renang Pria Anak-anak
                        27                         32
                  Hair Dye         Atasan Baju Belang
                        46                         56
Tas Sekolah Anak Perempuan              Dompet Unisex
                        71                         75